{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block container %}
<div class="col-xs-12">
	<h2>Twilio</h2>
	<p>This is a simple example of the Twilio API Python wrapper</p>
	<div class="col-xs-6">
		<h3>Text Somebody You Love Today!!!</h3>
		<div class="form-group">
			<div id="text-message-form">
				<label for="recipient">
					Recipient Number: 
				</label>
				<input type="text" name="recipient" id="recipient" class="form-control" value="+17274090736" />
				<label for="recipient">
					Message 
				</label>
				<input type="text" name="text-message" id="text-message" class="form-control" value="this is text message" />
				<button class="btn btn-default" id="submit-message" >Send Message</button>
			</div>
			<div id="return-value" class="panel panel-body"></div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#submit-message').click(function(event){
			event.preventDefault();

			var data = {
				'recipient' : $("input[name='recipient']").val(),
				'text-message' : $("input[name='text-message").val()
			}
			$.ajax({
		        type: "POST",
		        contentType: "application/json",
		        url: "{{ url_for('twilio.send_message') }}",
		        data:  JSON.stringify(data),
		        dataType: "json",
		        success: function (data) {
		        	$('#text-message-form').hide();
		          	$('#return-value').text('your text message was sent');
		        },
		        
	      	});
			
		});
	});
	
</script>
{% endblock %}