{% extends 'layouts/base.html' %}
{% set page_title = 'Hotels near %s' % (city) %}

{% block container %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hotels</h3>
  </div>
  <table class="table table-striped" data-type="Weather" data-url="{{ url_for('yahooweatherbp.forecast') }}">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Percent Recommended</th>
      </tr>
    </thead>
    {% for hotel in jDict['hotels'] %}
    <tr>
        <td>{{hotel['name']}}</td>
        <td>{{hotel['rating']}}</td>
        <td>{{hotel['percent_recommended']}} %</td>
    </tr>
    {% endfor %}
  </table>
</div>




 
{% endblock %}