{% extends 'layouts/base.html' %}
{% set page_title = 'Hotels near %s' % (city) %}

{% block container %}

<div class="panel panel-default">
  <div class="panel-body"> 
    <legend>
      Select the modules you want, and Lurcat will hand you a working, hosted VirtualMachine full of the
      stuff it takes to build your dreams.  Choose exactly what APIs you want to connect to, and we'll
      start the introductions!
    </legend>
  </div>
  <div class="panel-heading">
    <h2 class="panel-title"><b>Hotels</b></h2>
  </div>
  <table class="table table-striped" data-type="Weather" data-url="{{ url_for('yahooweatherbp.forecast') }}">
    <thead>
      <tr>
        <th><b>Name</b></th>
        <th><b>Rating</b></th>
        <th><b>Percent Recommended</b></th>
      </tr>
    </thead>
    {% for hotel in jDict['hotels'] %}
    <tr>
        <td>{{hotel['name']}}</td>
        <td>{{hotel['rating']}}</td>
        <td>{{hotel['percent_recommended']}} %</td>
    </tr>
    {% endfor %}
  </table>
</div>




 
{% endblock %}